<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>¡Pago confirmado!</title>
<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>
</head>
<body>
<div class="container">
  <h1>¡Su pago de <%= amount %> <%= currency %> ha sido confirmado!<h1>
  <h3>Por favor cierre esta ventana y regrese a "Hola Luka!" chatbot.</h3>
</div>
<script>
window.extAsyncInit = function() {
  // the Messenger Extensions JS SDK is done loading
  MessengerExtensions.requestCloseBrowser(function success() {
    }, function error(err) {
  });
};
</script>
</body>
</html>
